[package]
name = "vir"
version = "0.1.0"
authors = ["Chris Hawblitzel <Chris.Hawblitzel@microsoft.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# Note: do not add any dependencies on rustc -- VIR deliberately abstracts away from rustc's internals
[dependencies]
air = { path = "../air" }
sise = "0.6.0"
num-bigint = "0.4.3"
num-traits= "0.2.15"
num-integer = "0.1.45"
im = "15.1.0"

[features]
singular = ["air/singular"]
