{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "build",
      "type": "shell",
      "command": "bash -c 'cd source; cargo build --release && cargo run --release -p cargo-verus -- build --manifest-path vstd/Cargo.toml'",
      "problemMatcher": [],
      "group": {
        "kind": "build",
        "isDefault": true
      }
    },
    {
      "label": "build-no-vstd",
      "type": "shell",
      "command": "bash -c 'cd source; cargo build --release'",
      "problemMatcher": [],
      "group": {
        "kind": "build",
        "isDefault": true
      }
    }
  ]
}
