[package]
name = "builtin_macros"
version = "0.1.0"
edition = "2018"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.39"
quote = "1.0"
synstructure = "0.13"
syn = { version = "2.0", features = ["full", "visit", "visit-mut", "extra-traits"] }
syn_verus = { path="../../dependencies/syn", features = ["full", "visit", "visit-mut", "extra-traits"] }
prettyplease_verus = { path="../../dependencies/prettyplease" }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(verus_keep_ghost)'] }
