[workspace]
members = [
  "air",
  "builtin",
  "builtin_macros",
  "vir",
  "rust_verify",
  "rust_verify_test_macros",
  "state_machines_macros",
  "verusdoc",
  "rustc_interface",
  "rustc_driver",
]
